<% if admin_user? %>
	<%= render 'controlls' %>
<% end %>

<div class="default flyer-section">
	<%= image_tag @event.flyer %>
	
</div>

<%= render 'rating' %>

<%= render 'going_preview' %>

<% if @event.pictures.count > 0 %>
	<%= render 'pictures_preview' %>
<% end %>
