<% cart = @user.carts.where(:purchased_at.lte => Time.now).last %>

<table style="font-size:17px;margin-bottom:15px">
	<tr>
		<td style="text-align:right;color:gray">Order ID:</td>
		<td><%= cart.order.id %></td>
	</tr>
	
	<% if cart.order.transactions.count > 0 %>
		<tr>
			<td style="text-align:right;color:gray">Transaction ID:</td>
			<td><%= cart.order.transactions.last.id %></td>
		</tr>
	<% end %>
</table>

<table style="border-collapse:collapse">
	<tr style="text-align:left">
		<th style="border-top: 1px solid gray">Item</th>
		<th style="border-top: 1px solid gray">Details</th>
		<th style="border-top: 1px solid gray">Cost</th>
	</tr>
	
	<% cart.line_items.each do |item| %>
		
		<tr style="vertical-align:top">
			<td style="border-top: 1px solid gray;padding:10px 50px 10px 0">
				<%= image_tag item.product.pictures.first, size: "60x60" %>
				<%= item.product.name %>
			</td>
			<td style="border-top: 1px solid gray;padding:10px 50px 10px 0">
				qty: <%= item.quantity %><br/>
				<% if item.size %>
					size: <%= item.size %><br/>
				<% end %>
				price: <%= number_to_currency item.product.price %>
			</td>
			<td style="border-top: 1px solid gray;padding:10px 50px 10px 0">
				<%= number_to_currency item.full_price %>
			</td>
		</tr>
		
	<% end %>
	
	<tr>
		<td style="border-top: 1px solid gray;"></td>
		<td style="text-align:right;color:gray;border-top: 1px solid gray;">Subtotal:</td>
		<td style="border-top: 1px solid gray;"><%= number_to_currency cart.subtotal %></td>
	</tr>
	
	<tr>
		<td></td>
		<td style="text-align:right;color:gray;">Tax:</td>
		<td><%= number_to_currency cart.tax %></td>
	</tr>

	<tr style="font-size:17px">
		<td style="border-top: 1px solid gray;"></td>
		<td style="text-align:right;color:gray;border-top: 1px solid gray;">Total:</td>
		<td style="border-top: 1px solid gray;color:orange"><%= number_to_currency cart.total %></td>
	</tr>
	
</table>